<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="description" name="description">
    <title>Portfolio | Juba Bennour</title>

    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/favicon.ico" rel="icon">
</head>

<header>
    <div class="nav-content">
        <nav class="hyperlinks-content">
            <ul class="hyperlinks">
                <li><a href="./index.html">01: Home</a></li>
                <li>|</li>
                <li><a href="./about.html" class="active">02: About me</a></li>
                <li>|</li>
                <li><a href="./contact.html">03: Contact me</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="heading2">
    <h2>Bio</h2>
</div>

<body>
    <div class="bio-content">
        <div class="bio">
            <p class="bio-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, corporis.</p>
        </div>
        <div class="img-profil">#img</div>
    </div>
</body>

<div class="heading2" style="margin-top: 100px;">
    <h2>Projects</h2>
</div>

<div class="projects-content">
    <div class="bloc">#1</div>
    <div class="bloc">#2</div>
    <div class="bloc">#3</div>
    <div class="bloc">#4</div>
</div>

<footer style="margin-top: 50px;">
        <div class="foot-content">
            <div class="copyright">
                <p>© Juba Bennour</p>
            </div>
            <div class="logo">
                <a href="https://github.com/yuvajuba" target="_blank">
                    <img src="../static/assets/GitHub.ico" 
                    alt="GitHub" 
                    width="50px" 
                    height="50px">
                </a>
            </div>
            <div class="logo">
                <a href="https://www.linkedin.com/in/juba-bennour-41698b283/" target="_blank">
                    <img src="../static/assets/linkdIn.ico" 
                    alt="LinkdIn" 
                    width="50px" 
                    height="50px">
                </a>
            </div>
        </div>
    </footer>


</html>