<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="description" name="description">
    <title>Portfolio | Juba Bennour</title>

    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/favicon.ico" rel="icon">
</head>

<div class="wrapper">
    <header>
        <div class="nav-content">
            <nav class="hyperlinks-content">
                <ul class="hyperlinks">
                    <li><a href="./index.html" class="active">01: Home</a></li>
                    <li>|</li>
                    <li><a href="./about.html">02: About me</a></li>
                    <li>|</li>
                    <li><a href="./contact.html">03: Contact me</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <body>
        <div>
            <div class="text-content">
                <h1>Hello, <br>
                    <span id="typing"></span><span id="cursor">|</span>
                </h1>
            </div>
        </div>

        <script type="text/javascript" src="./static/script.js"></script>
    </body>


    <footer>
        <div class="foot-content">
            <div class="copyright">
                <p>© Juba Bennour</p>
            </div>
            <div class="logo">
                <a href="https://github.com/yuvajuba" target="_blank">
                    <img src="../static/assets/GitHub.ico" 
                    alt="GitHub" 
                    width="50px" 
                    height="50px">
                </a>
            </div>
            <div class="logo">
                <a href="https://www.linkedin.com/in/juba-bennour-41698b283/" target="_blank">
                    <img src="../static/assets/linkdIn.ico" 
                    alt="LinkdIn" 
                    width="50px" 
                    height="50px">
                </a>
            </div>
        </div>
    </footer>
</div>

</html>