<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email auto-response</title>
</head>

<body>
    <p style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">
        Dear $name,
    </p>
    <p style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">
        Thank you for reaching out to me through my portfolio page. 
        <span style="color: brown; font-weight: bold;">This is an automatic reply.</span>
    </p>
    <p style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">         
        I truly appreciate your interest and I'll reach out to you as soon as possible.
    </p>
    <br>
    <p style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">
        Best regards,<br>
        <span style="color: darkgreen;">Juba Bennour</span>
    </p>
    <br><br>
    -----------------------------------
    <p style="color: #444; font-size: 13px; font-style: italic;">Your message:</p>
    <p style="color: #666; font-size: 11px; font-style: italic;">$message</p>


</body>
</html>