<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
</head>
<body>
    <p style="font-size: 22px; color: darkred;">Contacted from Portfolio</p>
    <p>Fullname ---- : <span style="color: #064;">$fullname</span></p>
    <p>Email ------- : <span style="color: #064;">$email</span></p>
    <p>Subject ----- : <span style="color: #064;">$subject</span></p>
    <p style="font-weight: 600;">message ↓↓</p>
    <span style="color: #064;">$message</span>
</body>
</html>