<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="description" name="description">
    <title>Portfolio | Juba Bennour</title>

    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <link href="../static/assets/favicon.ico" rel="icon">
</head>

<header>
    <div class="nav-content">
        <nav class="hyperlinks-content">
            <ul class="hyperlinks">
                <li><a href="./index.html">01: Home</a></li>
                <li>|</li>
                <li><a href="./about.html">02: About me</a></li>
                <li>|</li>
                <li><a href="./contact.html" class="active">03: Contact me</a></li>
            </ul>
        </nav>
    </div>
</header>


<body>
	<div class="thanks-hold">
		<p class="thanks">Thank you for your message! We'll get in touch shortly</p>
	</div>
</body>

</html>
